
@import '../../scss/common.scss';


.tags {
  height: 46px;
  .tags-nav {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: 1px solid #f1f1f1;
    padding: 0 15vw;
    @include screen((0 20px));
    font-weight: 500;
    .ant-menu-horizontal,
    .ant-menu-submenu,
    .ant-menu-item-selected,
    .ant-menu-submenu-active,
    .ant-menu-horizontal > .ant-menu-item:hover,
    .ant-menu-horizontal > .ant-menu-submenu:hover,
    .ant-menu-horizontal > .ant-menu-item-active,
    .ant-menu-horizontal > .ant-menu-submenu-active,
    .ant-menu-horizontal > .ant-menu-item-open,
    .ant-menu-horizontal > .ant-menu-submenu-open,
    .ant-menu-horizontal > .ant-menu-item-selected,
    .ant-menu-horizontal > .ant-menu-submenu-selected,
    .ant-menu-horizontal > .ant-menu-item,
    .ant-menu-horizontal > .ant-menu-submenu {
      border-bottom: none;
      top: 0;
    }
    .ant-menu-horizontal {
      @include height(45px);
    }
    .item-subs {
      @include color;
    }
    .ant-menu {
      .ant-menu-item,
      .ant-menu-submenu-title {
        padding: 0 25px 0 0;
      }
    }
  }
  .all-hidden {
    .ant-menu-sub {
      padding: 0 !important;
      box-shadow: none;
    }
  }
}

// 
.tags-radio {
  .ant-radio-group {
    font-size: 12px;
    .ant-radio-button-wrapper {
      border: none;
      border-radius: 12px;
      @include height(24px);
      padding: 0 10px;
      margin-right: 10px;
      &::before {
        width: 0;
      }
      &:focus-within{
        box-shadow: none;
      }
    }
  }
  
}
