@import '../../scss/common.scss';

// 左边
.detail-left {
  padding: 25px;
  .detail-user {
    @include flex(center);
    margin-bottom: 24px;
    .detail-user-detail {
      @include flex('', flex-start);
    }
    .ant-avatar {
      @include width(50px);
    }
  }
  .detail-detail {
    padding-bottom: 30px;
  }
}
.detail-recommond {
  margin-top: 20px;
  .recommend-title {
    padding: 24px 24px 0;
    font-size: 16px;
    font-weight: bold;
  }
}
// 评论
.detail-comment {
  .comment {
    .comment-apply {
      background-color: #faeff9;
    }
    .ant-comment-actions {
      @include flex;
      .comment-like {
        margin: 6px 16px;
        @include color;
        .anticon-message {
          padding-right: 10px;
        }
      }
    }
  }
  .comment-title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }
  .comment-add {
    margin: 16px 0;
    padding: 12px 16px;
    background-color: #faeff9;
    @include flex;
    .ant-avatar {
      margin-right: 12px;
    }
    .comment-add-input {
      flex:1;
      .ant-input,
      .ant-btn {
        border: 1px solid #f5dff4;
        border-radius: 5px;
      }
      .comment-add-btn {
        margin-top: 12px;
      }
    }
  }
}
// 右边
.detail-right {
  .markdown-navigation .title-level1 {
    font-size: 14px;
    padding: 3px;
    margin: 6px 0;
  }
  .ant-anchor-wrapper {
    margin-left: 0;
    padding: 10px;
    .ant-anchor-ink {
      height: 0;
    }
    .ant-anchor-ink::before {
      @include width(0)
    }
  }
  .markdown-navigation .title-anchor.active {
    @include color;
  }
  .markNav-title {
    font-size: 18px;
    font-weight: 600;
  }
  .nav-anthor {
    padding: 10px;
    .anthor-title {
      font-size: 16px;
      padding-bottom: 5px;
      border-bottom: 1px solid plum;
    }
    .anthor-msg {
      @include flex('', flex-start);
      .ant-avatar {
        @include width(60px)
      }
      .detail-info {
        justify-content: center;
      }
      padding-bottom: 16px;
    }
  }
  .anthor-like {
    color: black;
    li {
      padding: 0 5px 10px;
    }
    .ant-avatar {
      @include width(20px);
      margin-right: 10px;
      background-color: plum;
    }
    .ant-avatar.ant-avatar-icon {
      font-size: 12px;
      .anticon {
        vertical-align: 3px;
      }
    }
  }
}
// 右边用户模块
$ra: rgba(146, 140, 254, 0.2);
$r: rgb(146, 140, 254);
.detail-user2 {
  .detail-user {
    padding: 15px 17px;
    background-color: $ra;
    margin-bottom: 36px;
    .ant-btn-primary {
      color: $r;
      background-color: white;
      border-color: $r;
    }
  }
  .detail-tags {
    margin-bottom: 36px;
    .tags-title {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      color: black;
      border-left: 6px solid $ra;
      padding-left: 24px;
      margin-bottom: 24px;
    }
    ul {
      li {
        display: inline-block;
        .ant-tag {
          margin-right: 24px;
          padding: 4px 16px;
          font-size: 14px;
          line-height: 20px;
          white-space: nowrap;
          border: 1px solid $ra;
          border-radius: 2px;
          cursor: pointer;
          background-color: white;
          color: $r;
        }
      }
    }
  }
}
// 定位的小icon
.nav-star {
  position: fixed;
  left: 10%;
  top: 50%;
  font-size: 24px;
  li {
    margin: 6px 0;
    cursor: pointer;
    .ant-avatar {
      background-color: plum;
    }
    .ant-badge-multiple-words {
      padding: 0;
    }
    .ant-badge-count {
      background-color: white;
      color: plum;
      @include height(10px)
    }
  }
}


.ant-btn {
  box-shadow: none;
}

.comment {
  .ant-comment-inner {
    padding: 16px 8px;
    .ant-comment-content {
      .ant-comment-content-author-name {
        span {
          margin-right: 6px;
        }
        .name {
          color: #333333;
        }
        .level {
          background-color: #f6b7f5;
          color: white;
          @include height(12px);
          padding: 0 3px;
          font-weight: 800;
        }
        .label {
          font-weight: bold;
        }
      }
    }
  }
}

