.cur {
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-inline-end: 0;
  margin-bottom: 0 !important;
}

html {
  --antd-wave-shadow-color: none;
  background: #faeff9;
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 660px;
  background-color: rgba(0,0,0,0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

span {
  display: inline-block;
}
